name: Test

on:
  push:
    branches-ignore:
      - gh-pages
    paths-ignore:
      - '*.md'
  pull_request:
    branches-ignore:
      - gh-pages
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build project
        run: bun run build

      - name: Run tests
        run: npm test
